<% layout('layouts/boilerplate') %>
<div class="row mb-5">
    <div class="col-6 ">
        <h1 class="mb-5"><%= campaign.name %> </h1>
        <div class="mb-5">
            <% if ( campaign.platform.includes('google')) { %>                        
            <img class=" mx-2 img-fluid"width="70px" height="70px" src="https://cdn-icons-png.flaticon.com/512/281/281764.png" alt="">
            <% } %>
            <% if ( campaign.platform.includes('meta')) { %>                        
            <img class=" mx-2 img-fluid"width="70px" height="70px" src="https://cdn-icons-png.flaticon.com/512/6033/6033716.png" alt="">
            <% } %>
            <% if ( campaign.platform.includes('snapchat')) { %>                        
            <img class=" mx-2 mr-2 img-fluid"width="70px" height="70px" src="https://cdn-icons-png.flaticon.com/512/2111/2111616.png" alt="">
            <% } %>
            <% if ( campaign.platform.includes('tiktok')) { %>                        
            <img class=" mx-2 img-fluid"width="70px" height="70px" src="https://cdn-icons-png.flaticon.com/512/3046/3046121.png" alt="">
            <% } %>
        </div>
        <div class="mb-1">
            <h2><%= campaign.spend %>$ out of <%= campaign.budget %>$   </h2>
        </div>
        <div class="mb-5">

        
        </div>
        <div class="card mb-5" >
            <h3 class="card-header ps-3 text-bg-secondary ">Audiunce</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= campaign.country %> </li>
              <li class="list-group-item"><%= campaign.interest %> </li>
              <li class="list-group-item"><%= campaign.age %> </li>
              <li class="list-group-item"><%= campaign.gender %> </li>
            </ul>
        </div>
        <div class="card" >
            <h3 class="card-header ps-3 text-bg-warning">Results</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item "><span class="fw-bold">Impression:</span> <%= campaign.impression %>   </li>
              <li class="list-group-item "><span class="fw-bold">Event A:</span> <%= campaign.event_A %>  </li>
              <li class="list-group-item "><span class="fw-bold">Event B:</span> <%= campaign.event_B %> </li>
            </ul>
        </div>


    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"><%= campaign.headline %></h2>
            </div>
            <img src="<%= campaign.image %>" alt=""class="card-img-top img-fluid">
            <div class="card-body">
                <li class="list-group-item"><%= campaign.CTA %></li>
                <a href="<%= campaign.URL %>" class="card-link"><%= campaign.URL %></a>

            </div>
        </div>



    </div>
</div>
<div class="col-3 mb-5 ms-auto">
    <a class=" btn btn-info btn-lg" href="/social-media/<%=campaign._id%>/edit">Edit</a>         
        <form class="d-inline"action="/social-media/<%= campaign._id %>?_method=DELETE" method="post">
            <button class="btn btn-danger btn-lg">Delete</button>
        </form> 
</div>